* {
    margin: 0;
    padding: 0;
  }
  #wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #0b706b;
    overflow: hidden;
  }
  .game-title {
    margin-top: 10vh;
    font-size: 8vh;
    color: #fff;
    text-align: center;
    letter-spacing: 5vh;
  }
  .show-rule {
    position: absolute;
    bottom: 5vh;
    color: #fff;
    width: 100%;
    font-size: 18px;
    text-align: center;
  }
  /* 规则 */
  .rule-wrap, .over-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .2);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rule-content, .over-content {
    width: 80%;
    max-width: 800px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, .5);
    color: #fff;
  }
  
  
  .center-box {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
    box-sizing: border-box;
    border: 20px solid #fff;
    box-shadow: 0 0 5px 2px #fff, 0 0 5px 2px #fff inset;
    border-radius: 50%;
  }
  .rule-title {
    font-size: 26px;
    text-align: center;
  }
  .rule-text {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.5;
  }
  
  /* 游戏结束 */
  .over-content {
    width: auto;
  }
  .over-title {
    font-size: 60px;
    text-align: center;
  }
  .over-text {
    font-size: 100px;
    text-align: center;
  }
  .over-btn {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
  }
  
  .jjj-item {
    position: absolute;
    width: 140px;
    height: 140px;
    background: url(./images/Run_000.c98fa765.png);
    background-size: 100%;
    top: 50%;
    margin-top: -70px;
    border-radius: 50%;
  }
  .jjj-item.opacity {
    opacity: 0;
  }
  .jjj-item-demo {
    left: 50%;
    margin-left: -70px;
    animation: rotate 2s linear infinite;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .catch-btn {
    position: absolute;
    width: 15vh;
    height: 4vh;
    bottom: 10vh;
    left: 50%;
    margin-left: -7.5vh;
    background: linear-gradient(180deg,#6ffffd 15.1%,#13dbef);
    line-height: 4vh;
    cursor: pointer;
    font-size: 26px;
    color: #fff;
    user-select: none;
    text-align: center;
    box-shadow: 0px 8px 0 0 #00aad2, 0 10px 5px 0 rgb(0 0 0 / 50%);
    border-radius: 5px;
    transform: translateY(-8px);
  }
  .catch-btn:active {
    transform: translateY(0);
    box-shadow: 0 0
  }
  /* 提示语样式 */
  .alert-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    font-size: 46px;
    opacity: 1;
    color: #fff;
    text-shadow: 0 0 5px #fff;
    transition: all 1s;
    text-align: center;
  }
  
  /* 分数展示 */
  .score-wrap {
    display: flex;
    color: #fff;
    width: 90%;
    max-width: 1000px;
    margin: 5vh auto;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .score-item {
    min-width: 150px;
    margin-top: 2vh;
    font-size: 3vh;
  }